<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <select name="wybor">
        <option value="wartosc1">Opcja 1</option>
        <option value="wartosc2">Opcja 2</option>
        <option value="wartosc3">Opcja 3</option>
        <option value="wartosc4">Opcja 4</option>
        <option value="wartosc5">Opcja 5</option>
    </select>
    <input type="submit" value="OK">
</form>
</body>
</html>